<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=artist_name%></title>
</head>
<body>
  <h1><%=artist_name%></h1>
  <ul>
    <% artList.forEach(piece => { %>
      <%- include('piece', {title: piece.art_name, created: piece.created, price: piece.price, image: piece.image, artist: null, type: piece.type_name})%>
      
    <% }); %>
  </ul>
</body>
</html>