<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Art Type</title>
</head>
<body>
  <form method="POST" action="/newType">
    <label>Art Type: 
       <input name="typename" type="text" required/>
    </label>
    <label>Type description: 
      <input name="description" type="text" />
    </label>
    <button type="submit">Submit</button>
  </form>
</body>
</html>